
<footer>
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/gaspar-mario-chichava/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/kadmus-101" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://medium.com/@gaspar.mario-chichava" target="_blank"><i class="fa-brands fa-medium"></i>
            </a>
            
        </div>
        <h5>
            &copy <% const date = new Date(); %>
            <%= date.getFullYear(); %> Syntaxis&lt/&gt. | All rights reserved
        </h5>
</footer>
