<header>

        <nav>

        <a href="/" style="display: flex; justify-content: center; align-items: center; gap: 10px; text-decoration: none;">
                <img src="/images/image.png" alt="link icon" class="logo"> <span style="color: #5bc1e9; font-size: 1.7rem; text-decoration: none;">ShortenIt</span>
        </a>
        
           <i class="fa-solid fa-bars" id="ham-menu"></i>
           <ul class="bar">
            <li><a href="/" class="link default">home</a></li>
            <li><a href="/about" class="link">about</a></li>
            <li><a href="/feedback" class="link">feedback</a></li>

           </ul>
        </nav>
</header>
