<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="../public/styles/layout.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About project</title>
</head>
<body>
    <header>

        <nav>
           <a href="" class="logo">ShortenIt</a>

           <i class="fa-solid fa-bars" id="ham-menu"></i>
           <ul class="bar">
            <li><a href="index.html" class="link default">home</a></li>
            <li><a href="about.html" class="link">about</a></li>
            <li><a href="feedback.html" class="link">feedback</a></li>

           </ul>
        </nav>
    </header>

    <div id="home-about">

        <section id="about">
            <div class="image">
                <img src="../public/images/rb_8174.png" alt="">
            </div>
            <div class="content">
                <h2>
                    About the project
                </h2>

                <div class="content-items">
                    <p>
                        <b>ShortenIt </b> is a web application that allows the user to reduce long links to shorter ones. It takes an input from the user, once the user send the link, it returns a shortened functional link.
                    </p>

                    <h3>
                        Goals
                    </h3>

                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio debitis fugiat modi veritatis magnam maxime nihil aliquam cum quibusdam, commodi dolore ratione mollitia dolorem at voluptatibus, ipsam ducimus perspiciatis. Alias?
                    </p>

                    <h3>
                        Features
                    </h3>
                    <ul>
                        <li>
                            <b>Basic Link Shortening </b>- Input a long URL and receive a shorter version.
                        </li>

                        <li>
                             <b>
                                Ad-Free and Minimalist Interface
                             </b> - simplicity for best user experience, with less distractions.
                        </li>

                        <li>
                            <b> o Login Required </b> - users can shorten their links without the need of having an account.
                        </li>

                    </ul>

                    <h3>
                        Here's how it works ...
                    </h3>

                    <p>
                        It's pretty straightforward! <br>
                        The web application contains a field where the user is going to paste and send the long link. After that, the user must click on the send button. <br> Once done that, the link is sent to the server and the server returns the shortened and functional link, in less than 3s.
                        <br>
                        Afterwards, the user has 30 seconds to copy the link and start using it.
                    </p>

                    <div id="to-feedback">
                        <a href="feedback.html">
                            Click here if you have sugestions
                        </a>

                        <button>
                            <i>
                                £
                            </i>
                        </button>
                    </div>
                </div>
            </div>
        </section>

    </div>
</body>
</html>