<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../public/styles/layout.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>
        <nav>
           <a href="" class="logo">ShortenIt</a>
           <ul>
            <li><a href="#">home</a></li>
            <li><a href="#">about</a></li>
            <li><a href="#">feedback</a></li>

           </ul>
        </nav>
    </header>

    <section id="home">
        <h2>
            Shorten your link
        </h2>
        <div class="main">

            <form action="submit" method="post" id="form">

                <div class="data-processing">
                   

                    <button disabled>
                        <i class="fa-solid fa-link"></i>
                    </button>


                    <input type="text" id="name" name="link" placeholder="Your link goes here" />
                    
                    <button>
                        <i class="fa-regular fa-paper-plane send"></i>
                    </button>
                  
                </div>
    
            </form>
        </div>

    </section>

</body>
</html>