<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="../public/styles/layout.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shorten it!</title>
</head>
<body>

    <header>

        <nav>
           <a href="" class="logo">ShortenIt</a>

           <i class="fa-solid fa-bars" id="ham-menu"></i>
           <ul class="bar">
            <li><a href="#" class="link default">home</a></li>
            <li><a href="#" class="link">about</a></li>
            <li><a href="#" class="link">feedback</a></li>

           </ul>
        </nav>
    </header>

    <section id="home">
    
            <h2>
                Shorten your link
            </h2>
            
            <div class="main">
    
                <form id="form">
    
                    <div class="data-processing">
                       
    
                        <button disabled>
                            <i class="fa-solid fa-link"></i>
                        </button>
    
    
                        <input type="text" id="name" name="link" placeholder="Paste your link here..." required/>
                        
                        <button type="submit" class="submit">
                            <i class="fa-regular fa-paper-plane send"></i>
                        </button>
       
                    </div>
    
                </form>
    
            </div>
            <div class="data-response">
    
                <button disabled>
                    <i class="fa-regular fa-bell fa-shake"></i>
                </button>
                
                <p class="response-link">
                    https://shortened/#98D5
                </p>   
    
                <button class="send-copy">
                    <i class="fa-solid fa-copy send-copy"></i>
                </button>
    
            </div>

        
    </section>
    <footer>
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/gaspar-mario-chichava/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/kadmus-101"><i class="fa-brands fa-github"></i></a>
            <a href="https://medium.com/@gaspar.mario-chichava"><i class="fa-brands fa-medium"></i>
            </a>
            
        </div>
    </footer>
</body>
    <script src="layout.js"></script>

</html>