<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/styles/layout.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shorten it!</title>
    <link rel="icon" type="image/x-icon" href="/images/image.png">

</head>
<body id="index-home">

    <h2>
        Adjusting responsiveness <br> ...
    </h2>

    <%- include("partials/header.ejs") %>


    <section id="home">
    
            <h2>
                Shorten your link
            </h2>
            
            <div class="main">
    
                <form id="form-home" action="/submit-link" method="post">
    
                   
                    <div class="data-processing">
                       
    
                        <button disabled>
                            <i class="fa-solid fa-link"></i>
                        </button>
    
    
                        <input type="url" id="name" name="link" placeholder="Paste your link here..." required/>
                        
                        <button type="submit" class="submit">
                            <i class="fa-regular fa-paper-plane send"></i>
                        </button>
       
                    </div>
    
                </form>
    
            </div>

            <% if (shortened !=='' && error === '') { %>

                <div class="data-response">
    
                    <button disabled>
                        <i class="fa-regular fa-bell fa-shake"></i>
                    </button>
                    
                    <p class="response-link">
                        <%= shortened  %>
                    </p>   
        
                    <button class="send-copy">
                        <i class="fa-solid fa-copy send-copy"></i>
                    </button>
        
                </div>

            <% } %>

            <% if (error !== '' && !shortened) {%>

                <div class="data-response error" style="background-color: transparent;">
    
                    <p class="response-link" style="color: red; text-align: center;">

                        <button disabled>
                            <i class="fa-solid fa-triangle-exclamation fa-fade" style="color: red;"></i>
                        </button>
                        <%= error %>
                    </p>   
        
                    <button class="send-copy">

                    </button>
        
                </div>
            
            <% } %>


            <div class="feedback-alert hidden" style="margin-top: 15px;">
                <p style="color:  #00A9FF;">
                    Link copied successfully !
                </p>
            </div>
        
    </section>

    <%- include("partials/footer.ejs") %>
    <script src="/scripts/layout.js"></script>
    <script src="/scripts/main.js"></script>
</body>
</html>