*{
    margin: 0;
    padding: 0;
}

body {
    background-color: aqua;
}

header {
    padding: 1% 2% 1% 2%;
}

.logo {
    text-decoration: none;
    color: black;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 1.9rem;
}
header > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

header > nav > ul li {
    list-style-type: none;
    list-style: none;
}

header > nav > ul li a {
    text-decoration: none;
    font-size: 1.7rem;
    color: black;
    text-transform: capitalize;
}

#home{
    margin: 1% 2% 1% 2%;
    height: 80vh;
}

#home > h2 {
    position: relative;
    top: 27%;
    text-align: center;
}
.main {
    position: relative;
    top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
}

.main > #form {
    display: grid;
    background-color: white;
    width: 50%;
    align-items: center;
    height: 3rem;
    border-radius: 10px;
}


.main > #form .data-processing {
    place-self: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin-top: 8px;
}


.main > #form > .data-processing input {
    width: 90%;
    height: 1.6rem;
    padding: 3px 4px 3px 5px;
    border: none;
    font-size: medium;
    outline: none;
    
}

i {
    font-size: large;
    font-weight: 800;
}

.main > #form > .data-processing button, .main > #form > .data-response button  {
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.send {
    cursor: pointer;
}

.main > #form button {
    margin-left: 2%;
    margin-right: 2%;
}



.main > #form button i:hover {

    color: blue;
    scale: 1.2;
    transition: .3s;
}



.main > #form > .data-response {
    margin-top: 30px; 
    background-color: white; 
    border-radius: 10px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    height: 2.9rem; 
}

.main > #form > .data-response p {
    color: #948989;
    width: 95%;
}

@media (max-width: 578px){
    h1 {
        font-size: 1.75rem; /* 28px */
      }
      h2 {
        font-size: 1.5rem; /* 24px */
      }

      .main {
        position: relative;
        top: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4rem;
    }

    .main > #form {
        width: 95%;
    }


    .main > #form > .data-processing input {
        width: 80%;
        font-size: .8rem;
    }

    .main > #form > .data-response p {
        width: 80%;
        font-size: .8rem;
    }
}


.main > #form > .hidden {
    display: none !important;
}