* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#ham-menu{
    display: none;
}

html, body {
    overflow-x: show; /* Remove rolagem horizontal */
}
h1 {
    font-size: 1.75rem; /* 28px */
}
h2 {
    font-size: 1.5rem; /* 24px */
}

body {
    background-color: #17153B;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding: .7%;
    box-shadow: 0px 4px 6px rgba(0, 169, 255, 0.2);
    height: fit-content;
    position: fixed;
    width: 100%;
}

.logo {
    text-decoration: none;
    color: #FFF6E9;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 1.9rem;
}
header > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header > nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

header > nav > ul li {
    list-style-type: none;
    list-style: none;
}

header > nav > ul li a {
    text-decoration: none;
    font-size: 1.7rem;
    color: white;
    text-transform: capitalize;
}

header > nav > ul li a:hover {
    text-decoration: underline;
    color: #00A9FF;
    transition: .3s ease;
    
}



#home{
    margin-top: 15%;
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home  h2 {
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: fit-content;
    width: 100%;
    margin-bottom: 1rem;
}

.main  #form-home {
    display: grid;
    background-color: #2E236C;
    width: 50%;
    align-items: center;
    height: 3rem;
    border-radius: 10px;
}


.main  #form-home .data-processing {
    place-self: center;
    width: 103%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin-top: 0;
}


.main  #form-home  .data-processing input {
    width: 100%;
    height: 1.6rem;
    padding: 3px 4px 0 5px;
    border: none;
    font-size: medium;
    outline: none;    
    background-color: #2E236C;
    color: #ffffff;
}

i {
    font-size: large;
    font-weight: 800;
}

.main > #form-home > .data-processing button, #home > .data-response button  {
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.send {
    cursor: pointer;
}

.main > #form-home button{
    margin-left: 2%;
    margin-right: 2%;
}


.main  #form-home button{
    color: white;
}

.main > #form-home > .data-processing .submit {
    height: fit-content;
    width: 30px;
}

.main > #form-home > .data-processing .submit:hover {
    color: #80C4E9 !important;
    scale: 1.2;
    transition: .3s;
}

#home .data-response button {
    margin-left: 2%;
    margin-right: 2.7%;
    color: #ffffff;
}

#home >  .data-response .fa-copy:hover {

    color: #80C4E9;
    scale: 1.2;
    transition: .3s;
}



#home  .data-response {
    background-color: #2E236C;
    color: white; 
    border-radius: 10px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 2.9rem; 
    width: 50%;
}

#home   .data-response p {
    color: #ffffff;
    width: 100%;
    margin-left: 5px;
}

footer{
    width: 100%; /* Garante que ocupe toda a largura */
    height: 6vh; /* Altura fixa */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .9%;
}

footer .social-icons{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    width: 10%;
    padding: 15px;
    box-shadow: 0px 4px 6px rgba(32, 53, 63, 0.2);
    margin: 0;
    border-radius: 10px;
    border-bottom: 3px solid #433D8B;
}

.social-icons i {
    font-size: 1.9rem;
}

.social-icons a {
    text-decoration: none;
    color: #00A9FF;
}

.social-icons a:hover{
    scale: 1.2;
    transition: .4s;
    color: #ffffff;
}

/*Feedback Page*/
#home-about, #feedback{
    display: grid;
    place-items: center;
    height: 100vh;
}
#about, #home-feedback {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr;
    height: 80vh;
    gap: 30px;
    width: 90%;
}

#about .image, #home-feedback .image {
    display: grid;
    place-items: center;


}

#home-feedback .image {
    order: 0;
}

#home-feedback form {
    place-items: center;
}

img {
    height: 75vh;
}

#about .content, #home-feedback .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding: 1% 2% 1% 2%;
    row-gap: 1.2rem;
}

#about .content h2, #about .content h3, #home-feedback h2{
    align-self: flex-start;
}

#home-feedback h2{
    padding-left: 6%;
    font-size: 2rem;
    margin-bottom: 2rem;
}

#home-feedback h2 > span {
    color: #d1d1d1;
    font-size: .99rem;
    line-height: normal;
}

#about .content h2 {
    color: #47ffff;
}

#about .content h3 {
    margin-top: 1rem;
    margin-bottom: .7rem;
    color: aqua;
}

#about .content p {
    text-align: justify;
}

#about .content ul li {
    list-style: none;
}

#about .content #to-feedback {
    position: absolute;
    bottom: 2%;
    right: 0%;
    display: flex;
    gap: 15px;
    padding: .7%;
}
#about .content #to-feedback a {
    color: aqua;
    text-decoration: double;    
}
#about .content #to-feedback button {
    width: 30px;
    background-color: transparent;
    border: none;
    color: #00A9FF;
}

form {
    background-color: transparent;
    padding: 10px;
    height: 50%;
    width: 90%;
}

form .name-email {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 2rem;
    margin-bottom: 15px;
    padding: px 0 5px 0;
}

form textarea {
    margin-top: 2%;
    height: 53%;
    width: 90%;
    text-align: left !important;
    resize: none;
    padding: 10px 0 10px 0;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    border-bottom: 3px solid #00A9FF;
    color: white;
    font-size: .9rem;
}


form .none {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #00A9FF;
    color: #ffffff;
    width: 250px;
    font-size: .9rem;
    margin-bottom: 15px;

}

form * {
    outline: none;
}

form .submit-btn {
    border: none;
    background-color: transparent;
    color: #FFF6E9;
    background-color: #00A9FF;
    height: 2rem;
    width: 200px;
    border-radius: 15px;
    position: relative;
    top: 20px;
    left: 63%;
    cursor: pointer;
    font-size: 1.1rem;
}


form .submit-btn:hover{
    background-color: #39b8f8;
    transition: .5s;
}

#home-feedback form input{
    margin-bottom: 2rem;
}

#home-about .mobile-feedback {
    display: none;
}


@media (max-width: 578px){


    #ham-menu {
        display: block;
        color: #FFF6E9;
    }

    header {
        padding: 2.5%;
        padding-left: 0;
        height: 6vh;
    }

    header > nav .logo, header > nav i{
        font-size: 1.2rem;
        margin-left: 2%;
    }
    header > nav > ul {
        display: flex;
        left: -100vw;
        flex-direction: column;
        position: fixed;
        align-items: center;
        justify-content: space-around;
        top: 15%;
        width: 100vw;
        height: 70vh;
        z-index: 1000;
        transition: 1s;
        gap: 0;
        background-color: #17153B;

    }

    #home{
        position: relative;
        justify-content: center;
        height: 20vh;
        margin-bottom: 15rem;
    }



    .active{
        left: 0;
        transition: 1s;
    }
    
    h1 {
        font-size: 1.75rem; /* 28px */
      }
    h2 {
        font-size: 1.4rem !important; /* 24px */
      }

    .main {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main > #form {
        width: 95%;
    }


    .main > #form > .data-processing input {
        width: 80%;
        font-size: .8rem;
    }

    #home .data-response {
        width: 95%;
    }
    #home .data-response p {
        width: 80%;
        font-size: .8rem;
    }

    footer {
        height: 7vh; /* Adapta o tamanho */
        padding: 10px;
        margin-bottom: 3%;

    }

    footer .social-icons {
        width: 40%;
    }

    footer .social-icons i{
        font-size: 1.5rem;
    }

    /*----about responsive*/
    #about {
        display: flex;
        flex-direction: column;
    }
    #about .image {
        display: none;
    }

    #about .content {
        position: relative;
        top: 5%;
        width: 100%;
        height: fit-content;
        margin-bottom: 400px;
    }

    #about #to-feedback a, #about #to-feedback button {
        display: none;
    }

    #home-about .mobile-feedback {
        display: block;
        margin-top: 15px;
        text-align: right;
    }

    /*responsive feedback*/

    #home-feedback {
        display: flex;
        flex-direction: column;
    }

    #home-feedback .image{
        display: none;
    }

    #home-feedback .form {
        display: block;
        height: 80vh;
        width: 100%;
    }

    #home-feedback .form h2 {
        display: block;
        text-align: left;
        padding-left: 0;
        margin-bottom: 15%;
    }

    #home-feedback .form h2 span {
        letter-spacing: 1.4px;
    }

    #home-feedback form .name-email {
        flex-direction: column;
        padding: 0;
        width: 100%;
        align-items: flex-start;
        height: fit-content;
    }

    #home-feedback form input {
        width: 100%;
    }

    #home-feedback form select {
        position: relative;
        top: 3.5rem;
        width: 100%;
    }

    #home-feedback form button {
        top: 30%;
        left: auto;
        align-self: center;
        width: 30%;
    }

    #home-feedback form textarea {
        position: relative;
        top: 15%;
        width: 100%;;
    }


}

.hidden {
    display: none !important;
}

.link-active {
    text-decoration: underline;
    color: #00A9FF;
}